<div class="container" id="admin-manage-campaigns">
  <div class="row d-flex justify-content-center text-center">
    <h1>ALL CAMPAIGNS</h1>
  </div>
  <div class="row search">
      <div class="col-2"></div>
      <div class="col-8">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
              </div>
          </div>
      </div>
      <div class="col-2"></div>
  </div>
  
  <div class="row table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Camp #</th>
          <th>Title</th>
          <th>Company</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @job_campaigns.each do |jc| %>
      <tbody>
        <tr>
          <td><%= jc.id %></td>
          <td><%= jc.title %></td>
          <td><%= jc.company.name %></td>
          <td><%= jc.location %></td>
          <td>
            <%= link_to "Delete", job_campaign_path(jc), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </td>
        </tr>         
      </tbody>
      <% end %>
    </table>
  </div>
</div>