<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container" id="session-new">
    <div class="row d-flex justify-content-center logo">
      <%= image_tag "match.png", style: "width: 10%" %>
    </div>

    <div class="row welcome_heading d-flex justify-content-center">
      <p>Welcome Back</p>
    </div>

    <div class="row sub_welcome_heading d-flex justify-content-center">
      <p>Don't miss your next opportunity. Sign in to stay updated on your professional world.
      </p>
    </div>

    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
    </div>

    <div class="row  d-flex justify-content-center forgot_password">
      <%= link_to "Forgot your password?", new_user_password_path %>
    </div>

    <div class="row  d-flex justify-content-center join_now">
      New to our platform? &thinsp;
      <%= link_to "Join Now", new_user_registration_path %>
    </div> 
  </div>

<% end %>